<section>
  <h2> Users </h2>
  <div *ngFor="let user of (users | async)">
    {{user[0].id}} - {{user[0].name}} - {{user[1]?.username}}
  </div>
</section>
<div>
  <h1>user Form</h1>
  <form (ngSubmit)="createUser(model)" #userForm="ngForm">

    <!-- ... all of the form ... -->
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
                                            required
                                            [(ngModel)]="model.name" name="name"
                                                                     #name="ngModel">
    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Submit</button>

  </form>
</div>
