{{  (person$ | async)?.name }}
<div>
  <h1>Twitter Form</h1>
  <form (ngSubmit)="createTwitter(twitter)" #twitterForm="ngForm">

    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
                                            required
                                            [(ngModel)]="twitter" name="name"
                                                                     #name="ngModel">
    <button type="submit" class="btn btn-success" [disabled]="!twitterForm.form.valid">Submit</button>

  </form>
  <h1>Reddit Form</h1>
  <form (ngSubmit)="createRedditor(reddit)" #redditForm="ngForm">

    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
                                            required
                                            [(ngModel)]="reddit" name="name"
                                                                     #name="ngModel">
    <button type="submit" class="btn btn-success" [disabled]="!redditForm.form.valid">Submit</button>

  </form>

</div>
<table>
  <tr *ngFor="let post of (posts$ | async)">
    <td> {{ post.title }} </td>
    <td> {{ post.score }} </td>
    <td> {{ post.body }} </td>
  </tr>
</table>

<table>
  <tr *ngFor="let comment of (comments$ | async)">
    <td> {{ comment.title }} </td>
    <td> {{ comment.score }} </td>
    <td> {{ comment.body }} </td>
  </tr>
</table>
