Name: {{  (person$ | async)?.name }}
<br/>
twitter: {{  (person$ | async)?.twitter_username }}
<br/>
reddit: {{  (person$ | async)?.reddit_username }}

<div>
  <h1>Twitter Form</h1>
  <form (ngSubmit)="createTwitter(twitter)" #twitterForm="ngForm">

    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
                                            required
                                            [(ngModel)]="twitter" name="name"
                                                                     #name="ngModel">
    <button type="submit" class="btn btn-success" [disabled]="!twitterForm.form.valid">Submit</button>

  </form>
  <h1>Reddit Form</h1>
  <form (ngSubmit)="createRedditor(reddit)" #redditForm="ngForm">

    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
                                            required
                                            [(ngModel)]="reddit" name="name"
                                                                     #name="ngModel">
    <button type="submit" class="btn btn-success" [disabled]="!redditForm.form.valid">Submit</button>

  </form>

</div>
